<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Unisilo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>model</display-name>
    <servlet-name>model</servlet-name>
    <servlet-class>InsertUsers.model</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>model</servlet-name>
    <url-pattern>/model</url-pattern>

  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUsers</display-name>
    <servlet-name>InsertUsers</servlet-name>
    <servlet-class>model.InsertUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUsers</servlet-name>
    <url-pattern>/InsertUsers</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>InputSales_records</display-name>
    <servlet-name>InputSales_records</servlet-name>
    <servlet-class>controller.InputSales_records</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputSales_records</servlet-name>
    <url-pattern>/InputSales_records</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveSales_records</display-name>
    <servlet-name>SaveSales_records</servlet-name>
    <servlet-class>controller.SaveSales_records</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSales_records</servlet-name>
    <url-pattern>/SaveSales_records</url-pattern>
  </servlet-mapping>

</web-app>