@charset "UTF-8";

.logo{
	float: left;
	padding: 100px 100px 50px 200px;
}

.header-list {
 padding: 110px 30px 50px 30px;
}

.header-list a{
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

div hover {
	background-color:red;
}
